.container {
    width: 100%;
    border: solid;
    border-color: black;
    border-width: 2px;
}
.col {
    border: solid;
    border-color: black;
    border-width: 2px;
}
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }